#show-contact {
    display: none;
  }
h1 {
    text-align: center;
}
#warning {
  display: none;
  color: black;
}
.nav-item {
  margin: 30px;
  color: white;
}
.navbar {
  /* background-image: url(../img/popcorn.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.img {
  height: 600px;
}
.display {
 
  font-size: 20px;
  list-style: none;
  
  }
.ticket {
  display: none;
}
.body {
  background-color: chocolate;
}
.button {
  text-align: center;
}


@media screen and (min-width: 240px) {
  .img {
         height: 600px;
         
  }
}